@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.Toastify__toast-container {
  width: auto;
}

.Toastify__toast {
  min-height: 50px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.Toastify__toast--success {
  background: #10b981;
}

.Toastify__toast--error {
  background: #ef4444;
}

.Toastify__toast--info {
  background: #3b82f6;
}

.Toastify__toast--warning {
  background: #f59e0b;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.7);
}